<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1N1 Global is a brand engaged in import-export and e-commerce business, dealing in a diverse range of products including kids’ clothing and toys, electronics gadgets, food products, and agri products.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you are a business seeking new markets or a customer looking for quality products, 1N1 Global is here to be your reliable partner. Together, let’s unlock new possibilities, explore new markets, and foster global connections. Join us on this exciting journey of international trade and e-commerce. </p>
      </div>
    </div>
  </div>
</section>
